{% extends 'base.html' %}
{% block title %}Usuarios - HealthAnalytics IPS{% endblock %}
{% block page_title %}<i class="bi bi-person-badge me-2 text-primary"></i>Usuarios{% endblock %}
{% block content %}
<div class="card shadow-sm border-0"><div class="card-body table-responsive">
<table class="table"><thead><tr><th>Usuario</th><th>Nombre</th><th>Email</th><th>Rol</th></tr></thead><tbody>{% for u in usuarios %}<tr><td>{{ u.username }}</td><td>{{ u.first_name }} {{ u.last_name }}</td><td>{{ u.email }}</td><td>{{ u.rol }}</td></tr>{% endfor %}</tbody></table>
</div></div>
{% endblock %}
